@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */
.btn {
  padding: 20px 43px;
  background: #e55473;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e96a85;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 128px;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  max-width: 594px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

/* Header styles */
.header,
.offer {
  max-width: 1920px;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  column-gap: 97px;
  max-height: 850px;
  margin: 0 auto;
  padding: 50px 240px 0 240px;
  margin-bottom: 178px;
}

.banner-content h1 {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-content p {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 32px 0;
}

.banner-img {
  width: 100%;
  max-width: 600px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

/* Featured flower */
.featured-flower {
  text-align: center;
}

.flower-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

.flower-card p {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
}

.img-container {
  width: 100%;
  height: 538px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 300px 300px 0px 0px;
}

.img-container img,
.offer-img img {
  max-width: 100%;
  height: auto;
}

.flower-card .pink {
  background: rgba(167, 33, 98, 0.15);
}

.flower-card .blue {
  background: rgba(5, 151, 160, 0.15);
}

.flower-card .gray {
  background: rgba(71, 125, 17, 0.15);
}

/* Support section */
.support-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: space-between;
  max-height: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 87px 175px;
}

.support-container p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
}

.img-group {
  margin-bottom: 24px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .img-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.support-container img {
  display: block;
}

/* offer styles */
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  height: 620px;
  column-gap: 215px;
  margin-bottom: 128px;
}

.offer-info {
  text-align: center;
}

.offer-description {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 36px;
    width: 100%;
  }

  .banner-content p {
    font-size: 16px;
    width: 100%;
  }

  .banner-img {
    max-width: 100%;
  }

  .btn {
    padding: 15px 30px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .banner-content h1 {
    font-size: 28px;
  }

  .banner-content p {
    font-size: 14px;
  }

  .flower-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
  }

  .support-container {
    flex-direction: column;
    margin: 16px;
    padding: 16px;
  }
  .support-container p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .offer {
    flex-direction: column;
    height: auto;
  }
}
